.wrapper {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1rem;

    /* border: 1px solid red; */

    inline-size: 100vw;
    block-size: 100vh;

    padding: 2rem;

    background-color: var(--background-color);
}

.wrapper__friendList {
    padding: 0.5rem 1rem;
    block-size: 100%;
    /* border-right: 1px solid var(--color-border); */

}

.wrapper__expenseForm {
    padding: 0.5rem 1rem;

    block-size: 100%;

    /* border-left: 1px solid var(--color-border); */
}