.wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;

    /* border: 1px solid red; */

    inline-size: 100vw;
    block-size: 100vh;

    padding: 2rem;

    background-color: var(--background-color);
}

.wrapper__friendList {
    /* border: 1px solid blue; */

    max-inline-size: 30vw;
    width: 100%;
}